__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints
.vscode/
.idea/
dist/
build/
*.egg-info/
data/
!data/.keep
input/
output/
checkpoints/
logs/
wandb/
*.pt
*.pth
*.bin
*.json
!data/processed/tokenizer.json
!data/processed/tokenizer_unigram.json
!data/processed/tokenizer_32k.json
xlam_function_calling_60k.json
xlam_1k_swift.json
xlam_val_200_swift.json
